%div.wordload-bottom
  %span.lable
    Total working time:
  %strong
    = todo.estimate
    hours
  %span.lable
    Date:
  %strong
    = todo.date
  %span.lable
    Done:
  %strong
    = todo.done
  %span.lable
    Undone:
  %strong
    = todo.undone
  %span.lable
    Late:
  %strong
    = todo.late
