= simple_form_for [:admin, resource], html: { class: 'form-group', multipart: true } do |f|
  - if resource.errors.any?
    - resource.errors.full_messages.each do |msg|
      = render_flash_message(msg, 'error')
  .form-group
    = f.input :name, placeholder: 'Loại đối tác', input_html: {class: 'form-control'}
  .form-group
    = f.input :desc, placeholder: 'Mô tả', input_html: {class: 'form-control'}
  .form-group
    = f.input :reduction, placeholder: 'Chiếc khấu thêm', input_html: {class: 'form-control'}
  .form-group
    = f.input :status, placeholder: 'Trạng thái', input_html: {class: 'form-control'}
  .form-group.text-center
    = f.submit 'Create', class: "btn btn-pink btn-upgrade"
