= simple_form_for [:frontend, resource], html: { class: 'form-group', multipart: true } do |f|
  - if resource.errors.any?
    #error_explanation
      %h2= "#{pluralize(resource.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - resource.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-12
      - if !params[:team_id].nil?
        = f.input :parent_id, :as => :hidden, input_html: {value: params[:team_id]}
      - else
        = f.input :parent_id, :as => :hidden, input_html: {value: params[:id]}
      = f.input :name, label: 'Workflows Name', input_html: {class:'speed-input require', placeholder: "Enter workflow name"}
    .col-md-12.padding-bottom-20px
      Steps
    .wrapper-new-workflow
    .col-md-12
      %input#stt-workflows{:type =>"hidden", name: "stt"}
      %a.add-more-step#add-more-step.btn
        %i.fa.fa-plus
        Add more step
  -# .actions
  -#   = f.submit 'Create workflow', class: "btn speed-btn submit-btn"
