%h1
  Khách hàng
  .pull-right
    = link_to admin_new_customer_path, "data-keyboard" => false, "data-backdrop" => "static", "data-toggle"=>"modal", "data-target"=>"#foxyModal", class: 'btn btn-sign-up-now-without-bg btn-xs' do
      %i.fa.fa-filter
    = link_to admin_new_customer_path, "data-keyboard" => false, "data-backdrop" => "static", "data-toggle"=>"modal", "data-target"=>"#foxyModal", class: 'btn btn-sign-up-now-without-bg btn-xs' do
      %i.fa.fa-cloud-upload

    = link_to admin_new_customer_path, "data-keyboard" => false, "data-backdrop" => "static", "data-toggle"=>"modal", "data-target"=>"#foxyModal", class: 'btn btn-sign-up-now-without-bg btn-xs' do
      %i.fa.fa-cloud-download

    = link_to admin_new_customer_path, "data-keyboard" => false, "data-backdrop" => "static", "data-toggle"=>"modal", "data-target"=>"#foxyModal", class: 'btn btn-sign-up-now btn-xs' do
      %i.fa.fa-plus
      Thêm mới
%hr

.row
  .col-md-12
    %table.table
      %thead
        %tr
          %th #
          %th Họ và tên
          %th
          %th
          %th
          %th
      %tbody
        - @customers.each do |customer|
          = render 'customer', customer: customer




