= simple_form_for [:admin, resource], html: { class: 'form-group', multipart: true } do |f|
  - if resource.errors.any?
    #error_explanation
      %h2= "#{pluralize(resource.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - resource.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-6
      = f.input :name, label: 'Tên sản phẩm'
    .col-md-6
      = f.input :product_type, label: 'Loại sản phẩm', input_html: {class: 'choz form-control'}
  .row
    .col-md-6
      = f.association :category, label: 'Danh mục sản phẩm', input_html: {class: 'choz form-control'}
    .col-md-6

      = f.input :reduction, label: 'Chiếc khấu thêm', input_html: {class: 'form-control'}
  .row
    .col-md-4
      = f.input :price, label: 'Giá thị trường',  input_html: {class: 'form-control'}
    .col-md-4
      = f.input :discount_price, label: 'Giá khuyến mãi', input_html: {class: 'form-control'}

    .col-md-4
      = f.input :status, label: 'Trạng thái', input_html: {class: 'choz form-control'}

  .actions
    = f.submit 'Lưu lại'
