= simple_form_for [:admin, resource], html: { class: 'form-group', multipart: true } do |f|
  - if resource.errors.any?
    #error_explanation
      %h2= "#{pluralize(resource.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - resource.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-12
      = f.input :name
      = f.input :property_type
      = f.input :internal_name

      = f.association :group_property
      = f.input :intro
  .actions
    = f.submit 'Lưu lại'
