!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Hairandwax
    = csrf_meta_tags
    = favicon_link_tag 'goibacsi-icon.png'
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/


    = stylesheet_link_tag    'application', media: 'all'


    -# = javascript_include_tag 'application'
    = javascript_include_tag 'admin'


  %body
    = yield
